*,
*::after,
*::before {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-color: rgb(73, 73, 79);
}

header {
  font-size: 50px;
  text-align: center;
  margin: 1rem;
}

.container {
  display: flex;
  margin: 1rem;
}

.form {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 220, 220);
  margin: 2rem;
  padding: 3rem;
  gap: 2rem;
}

.input {
  width: 15rem;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.table {
  margin: 2rem;
  padding: 3rem;
  width: 60rem;
  background-color: gainsboro;
}

table,
tr,
th,
td {
  font-size: 1.8rem;
  border: 1px solid black;
  text-align: center;
}



button {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0.2rem;
}

footer{
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.logo {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
  }