
*, *::after, *::before{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

body{
background-color: rgb(73, 73, 79);
}
header{
    font-size: 50px;
    text-align: center;


}

.container {
    display: flex;
}


.form {
    font-size:20px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

form{
   display: flex;
   flex-direction: column;
   background-color: gainsboro;
   margin: 2rem;
   padding: 3rem;
   gap: 2rem;
  
}

.input {
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 8px;
}

.table {
    background-color: gold
    ;
    margin: 2rem;
   padding: 3rem;
   width: 60rem;
   

   background-color: gainsboro;
}

table,th,tr,td{
    font-size: 1.8rem;
    border:1px solid black;
    text-align: center;
    
}